html,
body,
header,
#intro {
    height: 100%;
}

body {
    font-family: "Lucida Grande";
    size: 16px;
}

#intro {
    background: url("images/apparel-blue-jeans-casual-1082529.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* utilities */
.remove-padding {
    padding-right: 0;
    padding-left: 0;
}

.absolute-center {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia;
}

h1 {
    size: 3em;
    line-height: 1.05em;
}

h2 {
    size: 2.25em;
    line-height: 1.25em;
}

h3 {
    size: 1.75em;
    line-height: 1.25em;
}

.lead-text {
    color: var(--primary-color);
    font-style: italic;
}

/* Colors */
:root {
    --primary-color: #DBA51F;
    --secondary-color: #B19C68;
    --dark-gray-color: #1c1c1c;
    --medium-gray-color: #3b3a36;
    --light-medium-gray-color: #808082;
    --light-gray-color: #e6e9e6;
}

/* text color */
.text-light-gray {
    color: var(--light-gray-color);
}

.text-medium-gray {
    color: var(--medium-gray-color);
}

section:nth-child(2) {
    background-color: var(--primary-color);
}